@prefix :      <#> .
@prefix rdf:   <http://www.w3.org/1999/02/22-rdf-syntax-ns#> .
@prefix tdb2:  <http://jena.apache.org/2016/tdb#> .
@prefix ja:    <http://jena.hpl.hp.com/2005/11/Assembler#> .
@prefix rdfs:  <http://www.w3.org/2000/01/rdf-schema#> .
@prefix fuseki: <http://jena.apache.org/fuseki#> .

ja:DatasetTxnMem  rdfs:subClassOf  ja:RDFDataset .
ja:MemoryDataset  rdfs:subClassOf  ja:RDFDataset .

tdb2:GraphTDB2  rdfs:subClassOf  ja:Model .
tdb2:DatasetTDB2  rdfs:subClassOf  ja:RDFDataset .

# There are some configurations that you might want to change, if for example
# you'd like to run multiple experts setups on a single fuseki instance.
# Otherwise the defaults will setup a normal instance.

:experts_public fuseki:name "experts" .
:experts_private fuseki:name "experts_private" .
:tdb_public tdb2:location  "/fuseki/databases/experts/public" .
:tdb_private tdb2:location  "/fuseki/databases/experts/private" .
:tdb_vocab tdb2:location  "/fuseki/databases/experts/vocab" .
#:tdb_private tdb2:location  "foo" .

# Everything below is standard to the experts setup, the public and private
# databases and their relationships

# See javadoc for ARQ.queryTimeout for details.
[] a fuseki:Server ;
    ja:context [ ja:cxtName "arq:queryTimeout" ;  ja:cxtValue "10000,60000" ] ;
    .

:experts_public a fuseki:Service ;
#    fuseki:name "experts" ;
    fuseki:dataset :tdb_public ;
    fuseki:endpoint [
        fuseki:operation fuseki:query ;
        fuseki:name "sparql"
        ];
    fuseki:endpoint [
        fuseki:operation fuseki:query ;
        fuseki:name "query"
        ] ;
    fuseki:endpoint [
        fuseki:operation fuseki:gsp-r ;
        fuseki:name "get"
        ] ;
    .

:experts_private a fuseki:Service ;
    fuseki:dataset :dataset_private ;
    fuseki:endpoint [
        fuseki:operation fuseki:query ;
        fuseki:name "sparql"
        ];
    fuseki:endpoint [
        fuseki:operation fuseki:query ;
        fuseki:name "query"
        ] ;
    fuseki:endpoint [
        fuseki:operation fuseki:update ;
        fuseki:name "update"
        ] ;
    fuseki:endpoint [
        fuseki:operation fuseki:gsp-r ;
        fuseki:name "get"
        ] ;
    fuseki:endpoint [
        fuseki:operation fuseki:gsp-rw ;
        fuseki:name "data"
        ] ;
    fuseki:endpoint [
        fuseki:operation fuseki:upload ;
        fuseki:name "upload"
        ] ;
    .

:tdb_public
    a              tdb2:DatasetTDB2 ;
    ja:context [ ja:cxtName "arq:queryTimeout" ;  ja:cxtValue "5000,60000" ] ;
    tdb2:unionDefaultGraph true ;
    .

# These are the official graphs for the Public database
# The public database is one unnamed graph, at least for now
:graph_public
    a tdb2:GraphTDB2;
    tdb2:dataset :tdb_public;
    tdb2:graphName <http://experts.ucdavis.edu/> ;
    .


# These are being planned to remove.
:graph_public_iam
    a tdb2:GraphTDB2;
    tdb2:dataset :tdb_public;
    tdb2:graphName <http://iam.ucdavis.edu/> ;
    .

:graph_public_oap
    a tdb2:GraphTDB2;
    tdb2:dataset :tdb_public;
    tdb2:graphName <http://oapolicy.universityofcalifornia.edu/> ;
    .

# Complete Thesauri, like FAST are saved in their own database
:tdb_vocab
    a              tdb2:DatasetTDB2 ;
    ja:context [ ja:cxtName "arq:queryTimeout" ;  ja:cxtValue "60000,360000" ] ;
    .

# These two graphs are used below
:graph_vocab_fast
    a tdb2:GraphTDB2;
    tdb2:dataset :tdb_vocab ;
    tdb2:graphName <http://id.worldcat.org/fast/> ;
    .

# IET and OAPolicy data are private to internal review
# these are stored in the database below
:tdb_private
    a              tdb2:DatasetTDB2 ;
    ja:context [ ja:cxtName "arq:queryTimeout" ;  ja:cxtValue "60000,360000" ] ;
    .

# These two graphs are used below
:graph_private_experts_oap
    a tdb2:GraphTDB2;
    tdb2:dataset :tdb_private;
    tdb2:graphName <http://experts.ucdavis.edu/oap/> ;
    .

:graph_private_experts_iam
    a tdb2:GraphTDB2;
    tdb2:dataset :tdb_private;
    tdb2:graphName <http://experts.ucdavis.edu/iam/> ;
    .

# This private dataset currently only has four graphs.
# Other graphs will go to a emphemeral memory database, (I think)
# Mentions of the public graphs are defined in the public configuration file.
# Importantly, we haven't decided where the inference graphs should go.
# It might make the most sense to include those here.
:dataset_private
    a ja:RDFDataset ;
    ja:namedGraph [
        ja:graphName <http://id.worldcat.org/fast/> ;
        ja:graph :graph_vocab_fast ;
        ] ;
    ja:namedGraph [
        ja:graphName <http://experts.ucdavis.edu/oap/> ;
        ja:graph :graph_private_experts_oap ;
        ] ;
    ja:namedGraph [
        ja:graphName <http://experts.ucdavis.edu/iam/> ;
        ja:graph :graph_private_experts_iam ;
        ] ;
    ja:namedGraph [
        ja:graphName <http://experts.ucdavis.edu/> ;
        ja:graph :graph_public ;
        ] ;
    ja:namedGraph [
        ja:graphName <http://iam.ucdavis.edu/> ;
        ja:graph :graph_public_iam ;
        ] ;
    ja:namedGraph [
        ja:graphName <http://oapolicy.universityofcalifornia.edu/> ;
        ja:graph :graph_public_oap ;
        ] ;
    .
