@prefix :      <#> .
@prefix rdf:   <http://www.w3.org/1999/02/22-rdf-syntax-ns#> .
@prefix tdb2:  <http://jena.apache.org/2016/tdb#> .
@prefix ja:    <http://jena.hpl.hp.com/2005/11/Assembler#> .
@prefix rdfs:  <http://www.w3.org/2000/01/rdf-schema#> .
@prefix fuseki: <http://jena.apache.org/fuseki#> .

# VIVO Schema is the ontology used by VIVO for
# proper inference rules.

# Ontologies
:bibo ja:externalContent </fuseki/databases/vivo/bibo_min.ttl> .
:geopolitical ja:externalContent </fuseki/databases/vivo/geopolitical_min.ttl> .
:vcard ja:externalContent </fuseki/databases/vivo/vcard_min.ttl> .
:vivo ja:externalContent </fuseki/databases/vivo/vivo_min.ttl> .

:vivo_schema
    a ja:MemoryDataset ;
    ja:content :bibo, :geopolitical, :vcard, :vivo ;
    .

#:vivo_micro_reasoner
#    ja:reasonerURL <http://jena.hpl.hp.com/2003/OWLMicroFBRuleReasoner> ;
#    ja:schema :vivo_schema ;
#    .


:vivo a fuseki:Service ;
    fuseki:name "vivo_schema" ;
    fuseki:dataset :vivo_schema ;
    fuseki:endpoint [
        fuseki:operation fuseki:query ;
        fuseki:name "sparql"
        ];
    fuseki:endpoint [
        fuseki:operation fuseki:query ;
        fuseki:name "query"
        ] ;
#    fuseki:endpoint [
#        fuseki:operation fuseki:update ;
#        fuseki:name "update"
#        ] ;
    fuseki:endpoint [
        fuseki:operation fuseki:gsp-r ;
        fuseki:name "get"
        ] ;
#    fuseki:endpoint [
#        fuseki:operation fuseki:gsp-rw ;
#        fuseki:name "data"
#        ] ;
#    fuseki:endpoint [
#        fuseki:operation fuseki:upload ;
#        fuseki:name "upload"
#        ] ;
    .
